<div class="index">
	<h2>Authors</h2>
	<%= render :partial => 'access/add' %>
	<table>
		<tr>
			<%
			[
				'Username',
				'Email',
				'Name',
				'Actions'
			].each do |i|
			%>
				<th>
					<%= i %>
				</th>
			<% end %>
		</tr>
		<% @authors.each do |i| %>
			<tr>
				<td>
					<%= i.username %>
				</td>
				<td>
					<%= mail_to(i.email) %>
				</td>
				<td>
					<%= i.name[:full] %>
				</td>
				<td>
					<%= link_to("Edit", {:action => 'edit', :id => i.id}) %>
					<%= link_to("Delete", {:action => 'delete', :id => i.id}) %>
				</td>
			</tr>
		<% end %>
	</table>
</div>