<section class="posts">
	<% if @posts.count > 0 %>
		<% @posts.each do |i| %>
			<div id="post-<%= i.id %>" class="post">
				<h2 class="post-title">
					<%= link_to(i.title, "#post-#{i.id}") %>
				</h2>
				<h5 class="post-date">
					Post on <%= i.created_at.strftime("%A %B %d, %Y") %>
				</h5>
				<h5 class="post-author">
					By <%= i.author.name[:full] %>
				</h5>
				<div class="excerpt">
					<div class="excerpt-content">
						<%= sanitize(i.excerpt).html_safe %>
					</div>
					<div class="read-more">
						<%= link_to("Read more", "#post-#{i.id}") %>
					</div>
				</div>
				<div class="content">
					<%= sanitize(i.content).html_safe %>
				</div>
				<%= render :partial => 'comments', :locals => {:comments => i.comments, :post => i} %>
			</div>
		<% end %>
	<% else %>
		<h1>Oops!</h1>
		<p>No posts yet</p>
	<% end %>
</section>