<!DOCTYPE html>
<html>
	<head>
		<title>Admin Dashboard</title>
		<%= stylesheet_link_tag('admin', :media => 'all') %>
		<%= javascript_include_tag('admin') %>
		<%= yield :javascript_includes %>
		<script src="http://tinymce.cachefly.net/4.2/tinymce.min.js"></script>
	</head>
	<body>
		<%= render :partial => 'shared/flash' %>
		<div class="wrap">
			<%= yield %>
			<%= render :partial => 'access/back' %>
		</div>
	</body>
</html>