<!DOCTYPE html>
<html>
	<head>
		<title><%= yield :title %></title>
		<%= javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js' %>
		<%= yield :styles %>
		<%= yield :scripts %>
	</head>
	<body>
		<%= render :partial => 'shared/flash' %>
		<div class="wrap">
			<%= yield :content %>
		</div>
	</body>
</html>